
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0;
    padding: 0;
}



.header {
    text-align: center;
    display: flex;
    align-items: center;
    padding: 0 20px; 
    position: absolute;
    width: 100%;
    top: -1px;
    z-index: 1000; 
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.logo-container {
    margin-right: auto; 
    position: absolute;
    top:4%;
}

.header img {
filter: invert(100%);
}

.navigation {
    width: 100vw;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 4rem;
    flex-grow: 1; 
    font-size: 20px;
}

.navigation a {
    text-decoration: none;
    color: white;
    transition: 0.2s ease-in-out;
}

.navigation a:hover {
    scale:1.09;
}

.navigation a:hover {
    color:aquamarine;
    text-shadow: 
-1px -1px 10px #8dfff47b,
1px -1px 10px #8dfff47b,
-1px  1px 10px #8dfff47b,
1px  1px 10px #8dfff47b;
}


@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; pointer-events: none; }
}


.content1 {
    background-image: url("../img/bg.jpg");
    background-size: cover;
    height: 110vh;
    display: flex;
    justify-content: center;
    text-align: center;
    overflow: hidden;

}

.content1 img {
    overflow: hidden !important;
}

.content2 {
    position: relative;
    margin-top: -90px;
    background: linear-gradient(to bottom, #ffffff00 0%, #ffffff80 5%, rgb(255, 255, 255) 10%);
    height: 100vh;
    display: grid;
    place-items: center;
    width: 100vw;
    padding-bottom: 3%;
    align-items: center;
}

body {
    background-color: #918360;
    overflow-x: hidden;
    width: 100vw;
    margin:0;
}

.vertical-line {
    width:1px; 
    background-color: white; 
    bottom: 0%;
}

#right {
    height: 60vh;
}

#left
{
    height: 90vh;
    left:2%;
    position: absolute;
}

.right-deco {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 2%;
    margin-top: 2%;
    .vertical-line {
        margin-top:220px;
    }
}

.colorgrad {
    position: absolute;
    width:30px; 
    height: 30vh;
    background: linear-gradient(180deg, #0C0C16 0%, #2C2E66 50%, #C3FFFF 100%);
    border-radius: 100px;
    border: 2px solid white;
}

.blackgrad {
    height:100vh;
    position:absolute;
    width: 50vw;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, black 100%);    right:0;
    backdrop-filter: blur(1px);
    mix-blend-mode: multiply;
}
@keyframes fadein {
    from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }

@keyframes slidedown {
    from {
        transform: translateY(-2%);
      }
      to {
        transform: translateY(0);
      }
    }

    
@keyframes slidedown2 {
    from {
        transform: translateY(-5%);
      }
      to {
        transform: translateY(0);
      }
    }

    
    @keyframes slideleft {
        from {
            transform: translateX(-5%);
          }
          to {
            transform: translateX(0);
          }
        }

        @keyframes slideright {
            from {
                transform: translateX(5%);
              }
              to {
                transform: translateX(0);
              }
            }


.quote {
    color:white;
    font-family: 'Playfair Display', serif;
    font-size: 26px;
    font-weight: lighter;
    mix-blend-mode: exclusion;
    animation: fadein 1s ease-out, slidedown2 1s ease-out;
    text-shadow: 
    -1px -1px 10px #2C2E66,
    1px -1px 10px #2C2E66,
    -1px  1px 10px #2C2E66,
    1px  1px 10px #2C2E66;
}


.text-container{
    position: absolute;
    left:5%;
    top:40%;
    display: grid;
    button {
        margin-top: 10%;
        align-self: left;
    }
    
h2 {
    position: absolute;
}
}

button {
    border-radius: 200px !important;
    border: 2px solid white;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    height:50px;
    width:160px;
    font-size: 20px !important;
    background-color: black;
    animation: fadein 1.5s ease-out, slidedown2 2s cubic-bezier(0.23, 1, 0.320, 1);
    a {    color: #C3FFFF !important;
    }
}

a {
    text-decoration: none !important;
}

button:hover {
    background-color: #C3FFFF;
  a {  color: black !important;}
}

.artist-credit {
    bottom:10%;
    color:white;
    position: absolute;
    right:3%;
    font-family: 'Inter', sans-serif;
    text-align: right;
}

h5 {
    color:#E22678;
}

.playback-container {
    background-color: rgba(0, 0, 0, 0.404);
    position: absolute;
    display: grid;
    grid-template-columns: auto auto;
    height:44vh;
    width:45vw;
    top:30%;
    justify-content: space-evenly;
    right:4%;
    color:white;
    padding-top: 15px;
    backdrop-filter: blur(10px);

    h3 {
        margin-top:5px;
    }

    a {
        color:white;
    }
    
    a:hover {
        color:#2C2E66
    }
}

.img-container img {
    height:240px;
    overflow: hidden;
    clip-path: inset(0 30px);

}
.streaming {
    margin: 5%;
    padding-top: 15%;

    img {
        height:50px;
        width:auto;
        transition: 200ms ease;
    }

}

.streaming img:hover {
    scale:1.1;
}


.sub-milestone {
    border-radius: 10px;
    position: absolute;
    background-color: white;
    bottom: 10%;
    left:3%;
    height:8vh;
    width:40vw;
    display: grid;
    text-align: left;
    padding:1%;
    overflow: hidden;
    transition: 200ms ease;
    a {
        text-decoration: underline !important;
        color:black;
    }
    img {
        position: absolute;
        right:10px;
        height:70px;
    }
}

.sub-milestone:hover {
    height:30vh;
}
  .ren-card {
    background: 
    linear-gradient(#75f8ff9d, #0036479d), 
    url('../img/card-bg.png');
  background-size: cover;
  background-position: center;
    border-radius: 20px;
    display: grid;
    grid-template-columns: auto auto auto; 
    margin-top:10%;
    width: 70vw;
    height: 80vh;
    overflow: hidden;
    box-shadow: 2px 3px 5px rgba(58, 58, 58, 0.466);
    outline: 3.5px solid black;

  }
  
  .portrait {
    margin: 0;
    align-items: flex-end;
    justify-content: center;
    padding: 0;
    overflow: hidden;
    margin-left: -10%;
  }
  
  .portrait img {
    position: relative;
    bottom:0;
    height:650px;
    filter: drop-shadow(0.35rem 0.35rem #37373732);
    border-radius: 28px;
  }
  
  .ren-card-content {
    margin:5%;
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: 'Lora', sans-serif;
    h3 {
        font-weight: bold;
    }
    
  
  }
  
  .ren-card-content p {
    text-wrap: balance;
    font-size: 1.5rem;    
    margin-top:5px;
}

.card-title {
    font-size: 3rem;
    text-align: center;
    margin: 0;
    padding-bottom: 2%;
    text-shadow: 3px 0px white;
    font-family: 'Playfair Display';
}

.card-subtitle {
    font-size:2rem;
    text-align: center;
    margin: 0;
    padding-bottom: 5%;

}


  .copyright {
    margin-top: 10px;
    align-self: flex-end;
    font-family: 'Inter', sans-serif;
}


.label {
    font-weight: bold;
}

h1 {
    color:white;
    width: 100%;
    margin: 0 auto;
    font-size: 5rem !important;
    text-shadow: 3px 2px black;
    animation: fadein 1s ease-out, slidedown2 1s ease-out;
    font-family: 'Orbitron';    
}


.collab-ad {
    height: 100px;
    width: 400px;
    text-wrap: balance;
    position: absolute;
    text-align: right;
    top:40vh;
    margin: 0;
    right: 4%;
    font-size: 1.7rem;
    animation: fadein 1s ease-out, slideright 1s ease-out;
    h3 {margin:4px; color: white;font-size: 1.4em; text-shadow: 3px 2px #661519;}
    h5 {margin: 0;font-size: 3rem;}
}
