/* For INTRO */
.intro-screen {
    font-family: 'Noto Serif JP', serif;
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

.intro-screen img {
    font-size: 48px;
    color: #000;
    transform: translateY(-100%);
    opacity: 0;
    animation: fadeInUp 1s forwards;
}

.fade-out {
    animation: fadeOut 1s forwards 2s;
}

@keyframes fadeInUp {
    0% {
        transform: translateY(-10%); 
        opacity: 0;
    }
    100% {
        transform: translateY(0); 
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        
    }
}

/* BODY */
.main-content {
    display: none;
    background-color: #000000;
    color: #ffffff; /* TEXT */
}

.intro-screen.fade-out + .main-content {
    display: block;
}
