* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;

}

.header {
    text-align: center;
    display: flex;
    align-items: center;
    padding: 0 20px; 
    position: absolute;
    width: 100%;
    top: -1px;
    z-index: 999999; 
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.logo-container {
    margin-right: auto; 
    position: absolute;
    top:4%;
}

.header img {
filter: invert(100%);
}

.navigation {
    width: 100vw;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 4rem;
    flex-grow: 1; 
    font-size: 20px;
}

.navigation a {
    text-decoration: none;
    color: black;
    transition: 0.2s ease-in-out;
}

.navigation a:hover {
    text-decoration: underline;
}

a {
    text-decoration: none !important;
}




.maria-card {
    margin-left:10% ;
    background: 
    linear-gradient(#fae1ef89, hsla(336, 100%, 50%, 0.627)), 
    url('../img/card-bg.png');
  background-size: cover;
  background-position: center;
    border-radius: 20px;
    display: grid;
    grid-template-columns: auto 1fr; 
    margin-top:10%;
    width: 70vw;
    height: 80vh;
    overflow: hidden;
    box-shadow: 2px 3px 5px rgba(58, 58, 58, 0.466);
    outline: 3.5px solid black;

  }
  
  .portrait {
    margin: 0;
    align-items: flex-end;
    justify-content: center;
    padding: 0;
  }
  
  .portrait img {
    position: relative;
    bottom:7.7%;
    margin-left: 5%;
    height: 626px;
    filter: drop-shadow(0.35rem 0.35rem #37373732);
    clip-path: inset(0 0 10px 0);
    border-radius: 28px;
  }
  
  .maria-card-content {
    margin:5%;
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: 'Lora', sans-serif;
    
  
  }
  
  .maria-card-content p {
    text-wrap: balance;
    font-size: 1.5rem;    
    overflow: hidden;
    margin-top:5px;
}

.card-title {
    font-size: 3rem;
    text-align: center;
    margin: 0;
    padding-bottom: 2%;
    text-shadow: 3px 0px white;
    font-family: 'Playfair Display';
}

.card-subtitle {
    font-size:2rem;
    text-align: center;
    margin: 0;
    padding-bottom: 5%;

}


  .copyright {
    margin-top: 10px;
    align-self: flex-end;
    font-family: 'Inter', sans-serif;
}


.cardge {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 50px;
    width: 90vw;
    max-width: 150px; 
    opacity: 0;
    font-size: 1rem; 
    transition: opacity 0.3s;
    font-family: sans-serif;
    font-weight: 400;
}

.maria-card:hover #card2 {
    opacity: 1;
}

.ad-container:hover #card1 {
    opacity: 1;
}

#card1 {
    background-color: rgba(255, 255, 255, 0.589);
    mix-blend-mode: screen;
    color: #ff0055;
    bottom:-50px;
}

#card2 {
    bottom: 20%;
    right: 2%;
    background-color: #4f4f4f63;
    mix-blend-mode: multiply;
    color: black;
}


.label {
    font-weight: bold;
}

.label2 {
    position: absolute;
    left: 21px;
    top: 98px;
    color: black;
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    word-wrap: break-word;
    text-align: center;
}

button:hover, .ad-container:hover{
    box-shadow: 
    -1px -1px 10px #ff8dd97b,
    1px -1px 10px #ff8dd97b,
    -1px  1px 10px #ff8dd97b,
    1px  1px 10px #ff8dd97b;
}


.ad-container { 
    text-align: center;
    background-color: white;
    position: absolute;
    scale:80%;
    height: 200px;
    width: 300px;
    right: 0%;
    top:10%;
    font-family: 'Inter', sans-serif;
    font-size: 1.3rem;
    font-weight: bolder;
    box-shadow: 10px 3px 5px rgba(58, 58, 58, 0.466);
   transition: transform 100ms ease-in-out, rotate 250ms  cubic-bezier(0.075, 0.82, 0.165, 1);
    a {
        color: black;
    }
    animation: fadein 1s ease-out, slidedown2 1s ease-out;
}

.ad-container img {
    margin-top: 5%;
    margin-bottom: 1%;
    height:70%;
    object-fit: contain;
}
.ad-container:hover {
    transform:scale(1.1);
    rotate:2deg;
}



.ad-container2 {
    z-index: 13;
    width: 130px;
    height: 91.08px;
    position: absolute;
    overflow: hidden;
    transition: width 0.3s ease-in-out;
    border: 5px #FFD098 solid;
    background: #5F4498;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    top:100%;
    display: flex;
    align-items: center;
    text-align: center;
}

.ad-container2:hover {
    width: 411.82px; 
}

.ad-container2 img {
    width: 119.11px;
    height: 66.95px;
    position: absolute;
    justify-content: center;
}

.ad-container2 .ad-text {
    display: flex;
    place-items: center;
    width: 274px;
    height: 29px;
    position: absolute;
    left: 128px;
    text-align: center;
    color: #F4CF92;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.ad-container2:hover .ad-text {
    opacity: 1;
}


.sub-card {
    scale:0.8;
     width: 341px; height: 282px; position: absolute;
     left:2%;
     top:120%;
}


.Aster-subheader {
     width: 341px; left: 0px; top: 191px; position: absolute; text-align: center; color: #AAAAAA; font-size: 11px; font-family: Roboto; font-weight: 400; word-wrap: break-word;
}
.Rectangle53 {
    width: 341px; height: 249px; left: 0px; top: 33px; position: absolute; background: #0F0F0F; border-radius: 17px;
}
.Ellipse10 {
    width: 137px; height: 137px; left: 96px; top: 0px; position: absolute; border-radius: 9999px; border: 7px #0F0F0F solid;
}
.AsterArcadia
{
    width: 341px; height: 32px; left: 0px; top: 143px; position: absolute; text-align: center; color: white; font-size: 36px; font-family: Roboto; font-weight: 700; word-wrap: break-word;
}
.sub-button {
     width: 181px; height: 49.38px; left: 80px; top: 215px; position: absolute; background:transparent;   
    }


.sub-button:hover .Subscribe{
    transform:scale(1.1) !important; 

}

.sub-button:hover .Rectangle43{
    transform:scale(1.1) !important; 
    box-shadow: 0 0 25px rgba(255, 255, 255, 1);
}


.container-card {
    width: 146px;
    height: 135px;
    position: absolute;
    left: 10%;
    top:60vh;
    animation: fadein 1s ease-out, slidedown 1s ease-out;
}




.carousel.slide {
    height:160px;
    width: 200px;
    background-color: #FFD376;
    position: absolute;
    top:200%;
    left:3%;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    animation: fadein 1s ease-out, slideleft 1s ease-out;
    transition: transform 100ms ease-in-out, rotate 250ms  cubic-bezier(0.075, 0.82, 0.165, 1);
    img {
        height: 100px;
    }
}

.carousel.slide:hover {
    transform:scale(1.1);
    rotate:2deg;
}
.carousel.slide:hover .wallpaper-caption {
    transform:scale(1.1);
    color:black;
    text-shadow:2px 2px red;
    -webkit-text-stroke: 1.1px white; 
}
.carousel-inner {
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
}

.wallpaper-caption {
    position: absolute;
    color: red;
    left:0;
    text-align: center;
    width:200px;
    line-height:140px;
    font-weight: bold;
    top:-68px;
    -webkit-text-stroke: 1px black; 
    text-shadow: 2px 2px white;
    transition: transform 100ms ease-in-out;
}



.vid-ad {
    position: absolute;
    right:3%;
    top: 150vh;
    background-color: #0F0F0F;
    color:white;
    font-family: 'Roboto';
    font-weight: bold;
    display: grid;
    text-align: center;
    font-size: 1.2rem;
    justify-items: center;
    width: 335px;
    overflow: hidden;
    p {
        padding:3px;
    }
}

svg {
    position: absolute;
    scale:8;
    justify-self: center;
    top:35%;
    opacity:0.5;
    color:white;
}

svg:hover {
    opacity:1;
}


.carousel-item {
    position: relative;
    height: 100vh;
}



.carousel-header {
    text-align: center;
    margin-top: 20px;
}



.playback-container {
    background-color: rgba(0, 0, 0, 0.404);
    position: absolute;
    display: grid;
    grid-template-columns: auto auto;
    height:44vh;
    width:45vw;
    top:200vh;
    justify-content: space-evenly;
    right:4%;
    color:white;
    padding-top: 15px;
    backdrop-filter: blur(10px);
    text-align: center;

    h3 {
        margin-top:5px;
    }

    a {
        color:white;
    }
    
    a:hover {
        color:#2C2E66
    }
}

.img-container img {
    height:240px;
    overflow: hidden;
    clip-path: inset(0 30px);

}
.streaming {
    margin: 5%;
    padding-top: 15%;

    img {
        height:50px;
        width:auto;
    }

}


.sub-milestone {
    border-radius: 10px;
    position: absolute;
    background-color: white;
    top: 160%;
    left:3%;
    height:8vh;
    width:40vw;
    display: grid;
    text-align: left;
    padding:1%;
    overflow: hidden;
    transition: 200ms ease;
    a {
        text-decoration: underline !important;
        color:black;
    }
    img {
        position: absolute;
        right:10px;
        height:70px;
    }
}

.sub-milestone:hover {
    height:30vh;
}


.container-card {
    width: 146px;
    height: 135px;
    position: absolute;
    left: 60%;
    top:160vh;
    animation: fadein 1s ease-out, slidedown 1s ease-out;
}

.box {
    width: 146px;
    height: 135px;
    position: absolute;
    background: white;
    border-radius: 13px;
    overflow: hidden; 
}

.box::before {
    content: "";
    display: block;
    width: 100%;
    height: 90px;
    background: black;
    border-radius: 3px 3px 0 0;
}

.image {
    width: 108px;
    height: 61px;
    position: absolute;
    left: 19px;
    top: 16px;
}

.outfit-ad-container {
    width: 326px;
    height: 264px;
    position: absolute;
    background: #591516;
    border: 5px solid white;
    overflow: hidden;
    top: 100;
    right:5%;
    animation: zoom 1s infinite;
}


.new-outfit-text {
    position: absolute;
    left: 29px;
    top: 16px;
    color: white;
    font-size: 40px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    word-wrap: break-word;
    text-align: justify;
}

.outfit-image {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    height: auto;
}

.top-image {
    top: 68px;
    max-width: 277px; 
}

.bottom-image {
    top: 165px;
    max-width: 280px;
}

  
@keyframes zoom {
    0% {
      scale: 100%;
    }
    50% {
      scale: 110%;
    }
    100% {
      scale: 100%;
    }
  }
  

  h1 {
    display: flex;
    position: absolute;
    width: 100vw;
    justify-content: center;
    align-items: center;
    top:45px;
  }