* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;

}

.header {
    text-align: center;
    display: flex;
    align-items: center;
    padding: 0 20px; 
    position: absolute;
    width: 100%;
    top: -1px;
    z-index: 999999; 
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.logo-container {
    margin-right: auto; 
    position: absolute;
    top:4%;
}

.header img {
filter: invert(100%);
}

.navigation {
    width: 100vw;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 4rem;
    flex-grow: 1; 
    font-size: 20px;
}

.navigation a {
    text-decoration: none;
    color: black;
    transition: 0.2s ease-in-out;
}

.navigation a:hover {
    text-decoration: underline;
}
